<%- contentFor('content') %>
<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <form action="/reset-password" method="post" class="login-form" autocomplete="off">
        <h3 class="size-22 font-weight-bolder text-center m-b-20">Reset Password</h3>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="email" value="<%= email %>">
        <div class="form-group m-b-30">
            <label for="input-password" class="size-14 font-weight-bold">Password</label>
            <input type="password" class="form-control" autocomplete="off" id="input_password" name="password" placeholder="Password">
            <div class="text-danger"><%= get(content, 'password.msg') %></div>
        </div>
        <div class="form-group m-b-30">
            <label for="input-re-password" class="size-14 font-weight-bold">Confirm password</label>
            <input type="password" class="form-control" id="input-re-password" name="confirm_password" placeholder="Confirm Password">
            <div class="text-danger"><%= get(content, 'confirm_password.msg') %></div>
        </div>
        <button class="btn btn-success w-100 m-b-30">Submit</button>
    </form>
</div>

<script src="/js/page/reset-password.js"></script>